.inputOption {
    display: flex;
    align-items: center;
    margin-top: 15px;
    color: grey;
    cursor: pointer;
    padding: 10px;
}

.inputOption:hover {
    background-color: whitesmoke;
    border-radius: 10pxs;
}

.inputOption > h4 {
    margin-left: 5px;
}